@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    background-color: #10141e;
    font-family: "Outfit", sans-serif;
    color: #ffffff;
  }
}

@layer components {
  .nav-link svg {
    fill: #5a698f;
  }
  .nav-link svg:hover {
    fill: #fc4747;
  }

  .active svg {
    fill: #ffffff;
  }
}
